In [ ]:
import pandas as pd
df = pd.read_csv('個股日成交資訊.csv')
df

In [2]:
#使用subscript做欄的選取
df[['證券代號','證券名稱','收盤價','漲跌價差']]

      證券代號     證券名稱    收盤價   漲跌價差
0     0050   元大台灣50  72.80  -2.05
1     0051  元大中型100  26.75  -0.52
2     0052     富邦科技  55.35  -2.35
3     0053     元大電子  32.69  -0.67
4     0054   元大台商50  18.64  -0.36
...    ...      ...    ...    ...
1108  9944       新麗  14.65  -0.75
1109  9945      潤泰新  33.40  -0.65
1110  9946     三發地產  12.55  -1.35
1111  9955       佳龍  12.10  -0.50
1112  9958      世紀鋼  79.50  +0.90

[1113 rows x 4 columns]

In [ ]:
#iloc[],loc[]
df

In [ ]:
#iloc[list]
df.iloc[[1,2,3,1110,1111,1112]]

In [ ]:
#前10筆
df.iloc[:10]

In [ ]:
#後10筆
df.iloc[-10:]

In [7]:
df[['證券名稱','收盤價','漲跌價差']].iloc[-10:]

      證券名稱    收盤價   漲跌價差
1103    信義  24.15  -0.85
1104    裕融  80.50  -1.90
1105  裕融甲特  51.50  +0.50
1106    茂順  55.50  -2.90
1107   好樂迪  49.60  -2.70
1108    新麗  14.65  -0.75
1109   潤泰新  33.40  -0.65
1110  三發地產  12.55  -1.35
1111    佳龍  12.10  -0.50
1112   世紀鋼  79.50  +0.90

In [8]:
#透過reindex()的選取
df.reindex(index=[0,1,2,3,1108,1109],columns=['證券名稱','收盤價','漲跌價差'])

         證券名稱    收盤價   漲跌價差
0      元大台灣50  72.80  -2.05
1     元大中型100  26.75  -0.52
2        富邦科技  55.35  -2.35
3        元大電子  32.69  -0.67
1108       新麗  14.65  -0.75
1109      潤泰新  33.40  -0.65

In [ ]:
#透過drop()移除欄位
df.drop(columns=['成交筆數','成交股數'])

In [10]:
#更改欄位名稱,使用columns
df2 = df.reindex(index=[0,1,2,3,1108,1109],columns=['證券名稱','收盤價','漲跌價差'])
df2.columns = ['欄位1','欄位2','欄位3']
df2

          欄位1    欄位2    欄位3
0      元大台灣50  72.80  -2.05
1     元大中型100  26.75  -0.52
2        富邦科技  55.35  -2.35
3        元大電子  32.69  -0.67
1108       新麗  14.65  -0.75
1109      潤泰新  33.40  -0.65

In [11]:
#更改欄位名稱,rename()
df2 = df.reindex(index=[0,1,2,3,1108,1109],columns=['證券名稱','收盤價','漲跌價差'])
df2.rename(columns={'證券名稱':'證券','收盤價':'收盤'})

           證券     收盤   漲跌價差
0      元大台灣50  72.80  -2.05
1     元大中型100  26.75  -0.52
2        富邦科技  55.35  -2.35
3        元大電子  32.69  -0.67
1108       新麗  14.65  -0.75
1109      潤泰新  33.40  -0.65